.container-fixed {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    border: 2px solid rgb(193, 6, 6);
    padding: 10px;
    margin-bottom: 20px;
}

.container-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid rgb(193, 6, 6);
    padding: 10px;
}

.box {
    background-color: rgb(214, 255, 231);
    border: 2px solid rgb(0, 255, 247);
    padding: 10px;
    margin: 5px;
}

.answers {
    margin-top: 20px;
}

.answers code {
    background: yellow;
}
