.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
    gap: 10px;
    border: 2px solid orange;
    padding: 10px;
}

.header {
    grid-area: header;
    background-color: lightcoral;
    border: 2px solid red;
    padding: 15px;
}

.sidebar {
    grid-area: sidebar;
    background-color: lightyellow;
    border: 2px solid gold;
    padding: 15px;
}

.content {
    grid-area: content;
    background-color: lightgreen;
    border: 2px solid green;
    padding: 15px;
}

.footer {
    grid-area: footer;
    background-color: lightblue;
    border: 2px solid blue;
    padding: 15px;
}

.answers {
    margin-top: 20px;
}


.answers code {
    background: yellow;
}
